<div class="showtopic">

    <strong>Topic:</strong>
    <%= @topic.name %>
                <br/>


         <%= @words.each do |t| %>

            <td>Word:<%= t.name %></td>
                <br/>
            <td>Definition:<%= t.definition %></td>
                <br/>
            <td>Example:<%= t.example %></td>
        <% end %>
                <br/>


    <%= link_to 'Add A New word', new_topic_word_path(@topic, @word) %>
        

    <%= link_to 'Edit', edit_topic_path(@topic) %> 

    <%= link_to 'Back', topics_path %>

</div>
