<div class="showtopic">

    <strong>Topic:</strong>
    <%= @topic.name %>
                <br/>

     
         <%= @words.each do |t| %>
                 <br/>

            <td><div>Word:</div<%= link_to t.name, topic_word_path(t.id, @topic.id) %></td>
                <br/>
            <td>Definition:<%= t.definition %></td>
                <br/>
            <td>Example:<%= t.example %></td>
 
   
                <br/>

            <%= button_to 'Delete', topic_words_path(t.id, @topic), method: 'delete', :confirm => 'Are you sure?' %>

        <% end %>
                <br/>
                <br/>

    <%= link_to 'Add A New word', new_topic_word_path(@topic, @word) %>
                <br/>
        
     <%= link_to 'Edit', edit_topic_path(@topic) %> 
                <br/>

    <%= link_to 'Back', topics_path %>
                <br/>


</div>
