		<table>
		<tr>

		<% @words.each do |w| %>
							
					
					<td class="rows"><%=link_to w.name, word_path(w) %></td>

					<td class="rows"><%= w.definition %></td>

					<td class="rows"><%= w.example %></td>



				<td class="rows"><%= button_to 'Update', edit_word_path(w.id), method: 'get' %></td>
					<td class="rows"><%= button_to 'Delete', word_path(w.id), method: 'delete', :confirm => 'Are you sure?' %></td>





					
				</tr>	
				<% end %>
	
			</table>
			<%= link_to 'Add A New word', new_word_path %>