<div class="showword">
  



    <ul>

    
    	<li>
      <strong>Word:</strong>
      <%= @word.name %>
    	</li>

    	<li>
     <strong>Definition:</strong>
      <%= @word.definition %>
    	</li>

    	<li>
     <strong>Example:</strong>
      <%= @word.example %>
    	</li>

    </ul>

  </table>




  


   <p class="wordshow">
    <%= link_to 'Edit', edit_word_path(@word) %> 
    <%= link_to 'Back', words_path %>
    </p>

</div>