<div class="showword">

    <p class="backing">
    <tr>
    	<td>
      <strong>Word:</strong>
      <%= @word.name %>
    	</td>

    	<td>
     <strong>Word:</strong>
      <%= @word.definition %>
    	</td>

    	<td>
     <strong>Word:</strong>
      <%= @word.example %>
    	</td>

  



    </tr>
</p>

  


   <p class="wordshow">
    <%= link_to 'Edit', edit_word_path(@word) %> 
    <%= link_to 'Back', words_path %>
    </p>

</div>